<!-- <div>
  <li *ngFor="let emp of employeeList">
    {{ emp.firstName }} - {{emp.lastName}}
  </li>
</div> -->

<div class="table table-sm table-hover">
  <tr *ngFor="let emp of employeeService.employeeList">
    <td>{{ emp.firstName }} - {{emp.lastName}}</td>
    <td>{{ emp.empCode }}</td>
    <td>
      <a class="btn" (click)="showForEdit(emp)">
        <i class="fa fa-pencil-square-o"></i>
      </a>
      <a class="btn text-danger" (click)="deleteEmployee(emp)">
          <i class="fa fa-trash-o"></i>
        </a>
    </td>
  </tr>
</div>