<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome  {{ title }}!
  </h1>
</div>
<!-- -->

<!-- <div class="container">
  <app-employees></app-employees>
</div> -->

<div class="row" style="margin-left: 10px;">
  <div class="row col-md-6">
      <!-- <a routerLink="/employees">Employee</a> &nbsp;&nbsp; -->
      <!-- <a routerLink="/quickheal">Tenant</a>  -->
      
      <button type="button" class="btn btn-lg btn-secondary" routerLink="/employees">Employee</button>&nbsp;&nbsp;
      <button type="button" class="btn btn-lg  btn-secondary"routerLink="/quickheal">Tenant</button>&nbsp;&nbsp;
      <button type="button" class="btn btn-lg btn-secondary" routerLink="/communication">communicate</button>&nbsp;&nbsp;
     <!--  <button type="button" class="btn btn-lg btn-secondary" routerLink="/parent">Parent</button>&nbsp;&nbsp;
      <button type="button" class="btn btn-lg  btn-secondary"routerLink="/child">Child</button> -->
  </div>
  <div class="row col-md-6">
      <!-- <a routerLink="/employees">Employee</a> &nbsp;&nbsp; -->
      <!-- <a routerLink="/quickheal">Tenant</a>  -->
      
     
      
      
  </div>
</div>



<router-outlet></router-outlet>